.idea/
StartSmart-database/assets/report/footer.html
StartSmart-database/report.html
StartSmart-database/report.json
StartSmart-database/assets/report/report.css
StartSmart-database/assets/report/reportScript.html
StartSmart-database/assets/report/holdingTabs/changes.html
StartSmart-database/assets/report/holdingTabs/changes.txt
StartSmart-database/assets/report/holdingTabs/code.html
StartSmart-database/assets/report/holdingTabs/code.txt
StartSmart-database/assets/report/holdingTabs/drift.html
StartSmart-database/assets/report/holdingTabs/drift.txt
StartSmart-database/assets/report/holdingTabs/dryrun.html
StartSmart-database/assets/report/holdingTabs/dryrun.txt
StartSmart-database/assets/report/holdingTabs/migrate.html
StartSmart-database/assets/report/holdingTabs/migrate.txt
StartSmart-database/assets/report/icons/AddFilled.svg
StartSmart-database/assets/report/icons/Calendar.svg
StartSmart-database/assets/report/icons/CheckFilled.svg
StartSmart-database/assets/report/icons/ClockOutlined.svg
StartSmart-database/assets/report/icons/Database.svg
StartSmart-database/assets/report/icons/DeleteFilled.svg
StartSmart-database/assets/report/icons/Document.svg
StartSmart-database/assets/report/icons/EditFilled.svg
StartSmart-database/assets/report/icons/ErrorFilled.svg
StartSmart-database/assets/report/icons/FeedbackOutlined.svg
StartSmart-database/assets/report/icons/FlywayUpgrade.svg
StartSmart-database/assets/report/icons/flyway-upgrade-icon.svg
StartSmart-database/assets/report/icons/InfoOutlined.svg
StartSmart-database/assets/report/icons/PipelineFilled.svg
StartSmart-database/assets/report/icons/ScriptOutlined.svg
StartSmart-database/assets/report/icons/upgrade.svg
StartSmart-database/assets/report/icons/WarningFilled.svg
StartSmart-database/assets/report/infoBlobs/changes.html
StartSmart-database/assets/report/infoBlobs/drift.html
StartSmart-database/assets/report/infoBlobs/dryrun.html
StartSmart-database/assets/report/infoBlobs/info.html
StartSmart-database/assets/report/infoBlobs/migrate.html
StartSmart-database/assets/report/upgradeTabs/changes.html
StartSmart-database/assets/report/upgradeTabs/drift.html
StartSmart-database/assets/report/upgradeTabs/dryrun.html
StartSmart-database/rules/RX001__DropTables.toml
StartSmart-database/rules/RX002__PasswordChange_Oracle.toml
StartSmart-database/rules/RX002__PasswordChange_Postgres.toml
StartSmart-database/rules/RX002__PasswordChange_TSQL.toml
StartSmart-database/rules/RX003__Truncate.toml
StartSmart-database/rules/RX004__DropColumn.toml
StartSmart-database/rules/RX005__GrantToPublic.toml
StartSmart-database/rules/RX006__GrantWithGrantOption.toml
StartSmart-database/rules/RX007__GrantWithAdminOption.toml
StartSmart-database/rules/RX008__AlterUser.toml
StartSmart-database/rules/RX009__GrantAll.toml
StartSmart-database/rules/RX010__CreateRole.toml
StartSmart-database/rules/RX011__AlterRole.toml
StartSmart-database/rules/RX012__DropPartition.toml
